
nav {
    
    background-color: #663399;
}

.cover {
    position: relative;
    height: 100vh; /* set the height of the cover section to 100% of the viewport height */
    background-position: center; /* center the background image */
    background-repeat: no-repeat; /* prevent the background image from repeating */
    background-size: cover; /* cover the entire background with the image */
    display: flex;
    justify-content: center;
    align-items: center;
  }

h1, h6 {
    margin-top: 10rem;
}

.form-control {
    margin-right: 1rem !important;
}

.fl {
    float: left !important;
}

.lm {
    margin-top: 10rem;
    padding: 3rem !important;
    max-width: 20rem !important;
}

.top {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 1rem;
}

.con {
    width: 50rem;
}

.conn {
    margin-left: -0.9rem;
}

.wlogin {
    margin-top: 6rem; 
    padding: 3rem; 
    width: 30rem; 
    margin-left: auto; 
    margin-right: auto;
}

.w {
    width: 15rem;
    margin-left: -3.6rem;
    margin-bottom: 3rem;
}

.b {
    border: 0.2rem solid yellow;
    border-radius: 1rem;;
}

footer {
    height: 5rem;
}

.icon {
    width: 5rem !important;
}